html{
    background-color: rgb(213, 217, 224);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif; 
    font-size: 40pt;
    text-align: center;
    color: green; 
}
h2{
    text-align: center;
    font-size: 20px;
}

p{
    font-size: 15px; 
}


.top{
    display: flex; 
    justify-content: center; 
    align-items: center;
}
.top img{
    height: auto;
    width: 90%; 
    margin-bottom: 30px;
    border: 12px solid green; 
}


#AnimalQuiz{
    align-items: center;
    margin-left: 200px; 
    
}

.question img{ 
    height: 200px;
    width: auto;
    margin: 2px; 
}

.button{ 
    padding: 10px;
    align-items: center;
}

.button.clicked{
    background-color: green;
}





#theResults{
   display: flex;
   align-items:center; 
   gap:100pt;
   margin-bottom: 20pt;

}

#yourAnimal{
    font-size: 30pt;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(48, 109, 69);
}


#wikiButton{
    background-color: rgb(104, 99, 95);
    color: white;
    padding: 10px;
    
}


.SubmitButton{
    background-color: green;
    color: white; 
    padding: 20px; 
    border: 3px solid white;
    margin-top: 20pt;
    margin-left: 10pt;
    margin-bottom: 20pt;
    font-size: 15pt;
}

.bottom{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(97, 160, 122);
    padding: 20px;
    
}
.bottom img{
    height: 100pt; 
    margin: 5px;
    
}